services:
  postgres:
    image: postgres:15-alpine
    restart: always
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U user -d backend_db']
      interval: 5s
      timeout: 5s
      retries: 5
    ports:
      - '5432:5432'
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: backend_db

  keycloak:
    image: quay.io/keycloak/keycloak:latest
    ports:
      - '8080:8080'
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres:5432/keycloak_db
      KC_DB_USERNAME: user
      KC_DB_PASSWORD: password
      KC_BOOTSTRAP_ADMIN_PASSWORD: password # For initial startup only
      KC_BOOTSTRAP_ADMIN_USERNAME: admin #
      KC_HOSTNAME: localhost
    command: start-dev
    restart: always
    depends_on:
      - postgres

  backend:
    build: ./backend
    ports:
      - '5000:5000'
    volumes:
      - ./backend:/app
      - /app/node_modules
    environment:
      DATABASE_URL: postgres://user:password@postgres:5432/backend_db
    depends_on:
      postgres:
        condition: service_healthy

  frontend:
    build: ./frontend
    ports:
      - '5173:5173'
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      NODE_ENV: development
    depends_on:
      - backend
