services:
  postgres:
    image: postgres:15-alpine
    restart: always
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U user -d backend_db']
      interval: 5s
      timeout: 5s
      retries: 5
    ports:
      - '5432:5432'
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: backend_db

  keycloak:
    image: quay.io/keycloak/keycloak:latest
    ports:
      - '8080:8080'
    healthcheck:
      test:
        [
          'CMD-SHELL',
          "exec 3<>/dev/tcp/localhost/9000 && echo -e 'GET /health/live HTTP/1.1\r\nHost: localhost\r\nConnection: close\r\n\r\n' >&3 && cat <&3 | grep -q 'HTTP/1.1 200 OK'",
        ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres:5432/keycloak_db
      KC_DB_USERNAME: user
      KC_DB_PASSWORD: password
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin # For initial startup only
      KC_BOOTSTRAP_ADMIN_USERNAME: admin #
      KC_HOSTNAME: localhost
      KC_HOSTNAME_STRICT: false
      KC_HTTP_ENABLED: true
      KC_HEALTH_ENABLED: true
    command: start-dev --import-realm
    restart: always
    volumes:
      - ./keycloak-config:/opt/keycloak/data/import
    depends_on:
      - postgres

  backend:
    build: ./backend
    ports:
      - '5050:5050'
    volumes:
      - ./backend:/app
      - /app/node_modules
    environment:
      KEYCLOAK_URL: http://keycloak:8080
      KEYCLOAK_REALM: taskmanager
      KEYCLOAK_CLIENT_ID: frontend
      FRONTEND_URL: http://localhost:3000
      DATABASE_URL: postgres://user:password@postgres:5432/backend_db
    depends_on:
      postgres:
        condition: service_healthy
      keycloak:
        condition: service_healthy

  frontend:
    build: ./frontend
    ports:
      - '3000:3000'
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      NODE_ENV: development
      VITE_FRONTEND_URL: http://localhost:3000
      VITE_BACKEND_URL: http://backend:5050
      VITE_KEYCLOAK_URL: http://localhost:8080
      VITE_KC_REALM: taskmanager
      VITE_KC_CLIENT_ID: frontend
    depends_on:
      - backend
