services:
  db:
    image: postgres:15-alpine
    restart: always
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U user -d database']
      interval: 5s
      timeout: 5s
      retries: 5
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: database
    ports:
      - '5432:5432'

  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    ports:
      - '5000:5000'
    volumes:
      - ./backend:/app/backend
      - /app/node_modules
      - /app/backend/node_modules
    environment:
      DATABASE_URL: postgres://user:password@db:5432/database
    depends_on:
      db:
        condition: service_healthy

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    ports:
      - '5173:5173'
    volumes:
      - ./frontend:/app/frontend
      - /app/node_modules
      - /app/frontend/node_modules
    environment:
      NODE_ENV: development
    depends_on:
      - backend
